/* body {
  background-color: black;
} */
.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.centered-content {
  position: relative;
  z-index: 2; /* Update the z-index value */
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
}

.background:before {
  content: "";
  position: flex;
  top: -200px;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.9;
  z-index: 0;
}

.falling-code {
  position: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
  overflow: hidden;
}

.falling-code span {
  position: flex;
  top: 0;
  left: 50%;
  font-size: 20px;
  animation: falling-animation 5s linear infinite;
  color: green;
  transform: translateX(-50%);
}

@keyframes falling-animation {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(100vh);
  }
}

.name {
  font-size: 4rem;
  animation: glowingText 2s infinite;
}
@media (max-width: 400px) {
  .name {
    font-size: 2rem;
    animation: glowintText 3s infinite;
  }
}

@keyframes glowingText {
  0% {
    text-shadow: 0 0 5px green;
  }
  50% {
    text-shadow: 0 0 20px green;
  }
  100% {
    text-shadow: 0 0 5px green;
  }
}

.job-titles-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  color: white;
  font-size: 2rem;
  text-shadow: 0 0 10px #00ff00;
}

@media (max-width: 400px) {
  .job-titles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    color: white;
    font-size: 1.3rem;
    text-shadow: 0 0 10px #00ff00;
  }
}

/*About Me*/
.about-me-title {
  font-size: 3rem;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 10px #00ff00;
  color: #000;
}

.bolder {
  color: black;
  text-shadow: 0 0 10px #00ff00;
}

.about-me-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black;
  overflow: hidden;
  align-items: flex-start;
  padding: 25px;
  autoflow-y: auto;
  position: relative;
}

.about-me-section {
  display: block;
  padding: 40px;
  background-color: #fff;
  border-radius: 8px;
  max-width: 800px;
  margin: 0 auto;
  transition: background-color 0.3s ease-in-out;
}

.about-me-section.active {
  display: block;
}

.about-me-section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
}

.about-me-section p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #666;
}

.name-title {
  transition: all 0.4s ease-in-out;
  display: inline-block;
}

.name-title:hover {
  transform: scale(1.3);
  animation: glowingText 2s infinite;
}

body {
  background-color: black;
}

/*Projects*/
.projects-label {
  position: relative;
  /* bottom: -20px;
  left: 50%;
  transform: translateX(-50%); */
  font-size: 55px;
  color: #fff;
  background-color: #000;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
  text-shadow: 0 0 8px #00ff00;
}

.project-section {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the cards horizontally */
  background-color: black;
}

.project-card {
  width: 90%;
  max-width: 800px;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  margin: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative; /* Add position relative */
}

.project-card h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #333;
}

.project-card p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #666;
}

.project-description {
  flex-grow: 1;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}

.expand-button,
.close-button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.expand-button:hover,
.close-button:hover {
  background-color: #555;
}

.close-button {
  background-color: #ff0000;
}

.close-button:hover {
  background-color: #cc0000;
}

@media (max-width: 550px) {
  .project-section {
    margin-top: 1rem;
  }
}

/*GitHub Logo*/
.github-link {
  display: flex;
  justify-content: center;
}

.github-logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.github-logo {
  width: 40px;
  height: 40px;
  transition: filter 0.3s;
}

.github-logo:hover {
  filter: brightness(1.8);
}

/*Socials*/
.socials-title {
  background-color: white;
}

.socials-container {
  text-align: center;
  background-color: white;
}

.socials-buttons {
  display: flex;
  justify-content: center;
}

.social-button {
  margin: 0 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.3s;
}

.social-button:hover {
  transform: scale(1.1);
}

.social-logo {
  width: 40px;
  height: 40px;
}

/*Images in Card*/
.image-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}

.project-image {
  max-width: 50%;
  /* object-fit: cover; */
  margin-right: 10px;
  margin-bottom: 15px;
}
